/* Gregory McNutt */
body {
	color: white;
	background-color: #0f0f0f;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
	margin: .5em 0;
	flex: 1;
}
header {
	background-color: #d4af37;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em 0;
}
header a {
	position: absolute;
	text-decoration: none;
	padding-right: 100px;
	margin-top: 20px;
}
header img {
	z-index: 0;
	filter: drop-shadow(15px 10px 10px black);
}
header h1 {
	position: relative;
	left: 150px;
	z-index: 1;
	font-size: 100px;
	color: black;
	text-shadow: 8px 8px 10px #d6d6d6;
	pointer-events: none;
}

nav {
	margin: 1.5em 0 ;
	background: #d4af37;
	border-radius: 30px;
}
nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-around;
	align-content: center;
	margin: 0;
	padding: 0 1.5em;
}
nav ul li {
	/* text-align: center; */
	/* list-style-type: none; */
	padding-top: 10px;
}
nav ul li a {
	letter-spacing: 2px;
	font-size: 30px;
	color: #ff69b4;
	text-shadow: 2px -1px 2px #000000;
	text-decoration: none;
	letter-spacing:15%;
}
nav ul li a:hover,
nav ul li a:focus {
	text-decoration: underline #d6d6d6;
	color: #d6d6d6;
}
nav ul li #current {
	padding-top: 10px;
	border: #0f0f0f;
	border-style:inset;
	border-radius: 20%;
	border-width: 5px;
}

section {
	padding: 3em;
	margin-bottom: 10%;
}
section h1 {
	text-align: center;
}
section img {
	float: right;
}
.call-to-action {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: auto;
	font-size: 300%;
}
.call-to-action h3 {
	margin: 0;
	padding: 0 0 2% 0;
}
.call-to-action button {
	display: flex;
	width: 50%;
	height: 10%;
	align-self: center;
	font-size: 100%;
	text-align: center;
	text-wrap: nowrap;
	background-image: url('../images/headshot_nobg.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: right;
	background-color: #ff69b4;
}
.call-to-action button span {
	width: 50%;
	font-size: 35%;
	text-align: end;
	color: white;
}
.call-to-action button:hover {
	background-color: #d4af37;
}

footer {
	width: 100%;
	height: 5em;
	padding: 0;
	margin: 2em 0 0 0;
	display: flex;
	flex-direction: column;
	background-color: #d4af37;
	color: #0f0f0f;
	font-size: 1.3em;
}
footer h5 {
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
}
footer .center-text {
	display: flex;
	flex-direction: column;
	margin-left: 40%;;
}
.quotes-div h5:nth-of-type(1) {
	text-align: left;
	margin-left: 10%;
}
.quotes-div h5:nth-of-type(2) {
	text-align: right;
	margin-right: 10%;
}
.quotes-div h5:nth-of-type(3) {
	text-align: center;
}
.quotes-div h5 {
	margin-left: 5%;
	text-wrap-mode: nowrap;
}

.gravitas-one-regular {
	font-family: "Gravitas One", serif;
	font-weight: 400;
	font-style: normal;
}
.luckiest-guy-regular {
	font-family: "Luckiest Guy", cursive;
	font-weight: 400;
	font-style: normal;
}
