/* Gregory McNutt */
body {
	color: white;
	background: #5c5c5c;
	background: linear-gradient(
		0deg,
		rgba(92, 92, 92, 1) 0%,
		rgba(0, 0, 0, 1) 50%,
		rgba(89, 89, 89, 1) 100%
	); /* background-color: #0f0f0f; */

	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 100%;
}
main {
	margin: 0.5em 0;
	flex: 1;
	width: 100%;
	align-content: center;
}
header {
	background-color: #d4af37;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2em 0;
}
header a {
	position: absolute;
	text-decoration: none;
	padding-right: 6.25em;
	margin-top: 1.25em;
}
header img {
	z-index: 0;
	filter: drop-shadow(15px 10px 10px black);
}
header h1 {
	position: relative;
	left: 1.5em;
	z-index: 1;
	font-size: 7em;
	color: black;
	text-shadow: 8px 8px 10px #d6d6d6;
	pointer-events: none;
}

nav {
	margin: 0.625em auto;
	background: #d4af37;
	border-radius: 30px;
	width: 80%;
}
nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-around;
	align-content: center;
	margin: 0;
}
nav ul li {
	padding-top: 0.625em;
}
nav ul li a {
	letter-spacing: 2px;
	font-size: 30px;
	color: #ff69b4;
	text-shadow: 2px -1px 2px #000000;
	text-decoration: none;
	letter-spacing: 15%;
	padding: 0 0.5em;
}
nav ul li a:hover,
nav ul li a:focus {
	text-decoration: underline #d6d6d6;
	color: #d6d6d6;
}
nav ul li #current {
	padding-top: 0.625em;
	border: #0f0f0f;
	border-style: inset;
	border-radius: 20%;
	border-width: 0.3125em;
}

section {
	padding: 3em 3em;
	margin-bottom: 1em;
}
section h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 4em;
	text-decoration: underline;
	text-decoration-style: double;
	text-decoration-thickness: 0.1875em;
	text-underline-offset: 0.625em;
	text-decoration-color: #d4af37;
}
section h2 {
	font-size: 2.5em;
}
section img {
	float: right;
}
#call-to-action {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 300%;
	padding: 1% 0;
	margin-bottom: 1.25em;
}
#call-to-action h2 {
	font-size: 1.5em;
	position: relative;
	top: 0.625em;
	text-shadow: #0f0f0f -10px -5px 10px;
	padding: 0;
	margin: 0;
}
#call-to-action h3 {
	font-size: 1.5em;
	text-shadow: #0f0f0f -5px -5px 10px;
	margin: 0;
	padding: 0 0 2% 0;
}
#call-to-action button {
	border-style: outset;
	border-width: 5px;
	border-radius: 20px;
	display: flex;
	width: 60em;
	align-self: center;
	background-image: url("../images/headshot_nobg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: right;
	background-color: #ff69b4;
	border-color: #0f0f0f;
	box-shadow: white 0 0 30px;
}
#call-to-action-title {
	position: relative;
	flex-shrink: inherit;
	top: 0.625em;
	left: -2.8125em;
	font-size: 5em;
	color: white;
	text-shadow: #0f0f0f -5px 0px 10px;
}
#call-to-action-title:hover,
#call-to-action-title:focus {
	text-shadow: #d4af37 -5px 0px 10px;
}
#call-to-action-subtext {
	position: relative;
	top: 3.125em;
	right: 3.75em;
	font-size: 1.5em;
	text-wrap: nowrap;
	color: white;
	transform: rotateZ(-25deg);
	text-shadow: #0f0f0f -5px 0px 10px;
}
#call-to-action-subtext:hover,
#call-to-action-subtext:focus {
	text-shadow: #d4af37 -5px 0px 10px;
}
#call-to-action button:hover,
#call-to-action button:focus {
	color: #d4af37;
	background-color: #0f0f0f;
}

footer {
	width: 100%;
	height: 5em;
	padding: 0 0 1em 0;
	display: flex;
	flex-direction: column;
	background-color: #d4af37;
	color: #0f0f0f;
	font-size: 1.3em;
}
footer h5 {
	text-align: center;
	margin-top: 0.125em;
	margin-bottom: 0.125em;
}
footer .center-text {
	display: flex;
	flex-direction: column;
	margin-left: 40%;
}

.line {
	align-self: center;
	width: 80%;
	height: 2px;
	background-color: #d4af37;
	margin: 2% 0;
}

.quotes-div h5:nth-of-type(1) {
	text-align: left;
	margin-left: 0.625em;
}
.quotes-div h5:nth-of-type(2) {
	text-align: right;
	margin-right: 0.625em;
}
.quotes-div h5:nth-of-type(3) {
	text-align: center;
}
.quotes-div h5 {
	margin-left: 0.3125em;
	text-wrap-mode: nowrap;
}

.gravitas-one-regular {
	font-family: "Gravitas One", serif;
	font-weight: 400;
	font-style: normal;
}
.luckiest-guy-regular {
	font-family: "Luckiest Guy", cursive;
	font-weight: 400;
	font-style: normal;
}
.permanent-marker-regular {
	font-family: "Permanent Marker", cursive;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 2px;
}
