.form-div {
    width: 15%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
}

.form-div label {
    align-self: flex-start;
	margin: 1.25em 0 0 0;
	padding: 0;
}

section input {
	margin: 0;
	height: 50px;
	width: 250px;
	font-size: medium;
}

section button {
	margin-top: 3.125em;
	border-style:outset;
	border-width: 0.3125em;
	border-radius: 20px;
	height: 3.125em;
	width: 300px;
	font-size: 1.2rem;
    color: white;
	background-image: url('../images/headshot_nobg.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: right;
	background-color: #ff69b4;
	border-color: #0f0f0f;
	box-shadow: white 0 0 30px;
}

section button:hover,
section button:focus {
	color:#d4af37;
	background-color:#0f0f0f;
}